{{ define "main" }}
  <div class="post {{ with .Site.Params.doNotLoadAnimations }}.{{ else }}animated fadeInDown{{ end }}">
    <div class="post__content">
      <h1>{{ .Title }}</h1>
      {{ .Content }}
    </div>
  </div>
 
  {{ range .Pages.ByWeight }}
    <div class="post {{ with .Site.Params.doNotLoadAnimations }}.{{ else }}animated fadeInDown{{ end }}">
      {{ if .Params.image }}
        <div class="post__thumbnail-wrapper">
          <a href="{{ .RelPermalink }}">
            <img class="post__thumbnail" src="{{ .Params.image | relURL }}" alt="Thumbnail image" loading="lazy" />
          </a>
        </div>
      {{ end }}
      <div class="post__content">
        {{ if (eq .Site.Params.disableTitleCapitalization true) }}
          <h3><a href="{{ .RelPermalink }}">{{ .Title }}</a></h3>
        {{ else }}
          <h3><a href="{{ .RelPermalink }}">{{ upper .Title }}</a></h3>
        {{ end }}
        {{ if .Description }}
          <p>{{ .Description }}</p>
        {{ end }}
        <a href="{{ .RelPermalink }}">Read more →</a>
      </div>
      <div class="post__footer">
        {{/* Commented out date display
        <em class="fas fa-calendar-day"></em>
        <span class="post__footer-date">
          {{ .Date.Format "02/01/2006" }}
        </span>
        */}}
        {{ with .Page.Params.Categories }}
          {{ partial "taxonomy/categories.html" . }}
        {{ end }}
        {{ with .Page.Params.Tags }}
          {{ partial "taxonomy/tags.html" . }}
        {{ end }}
      </div>
    </div>
  {{ end }}
{{ end }}
