{{ define "main" }}
  {{ $pages := where .Site.RegularPages "Type" "in" .Site.Params.mainSections }}
  {{ $sorted := sort $pages ".Params.weight" }}
  {{ $paginator := .Paginate $sorted }}
  {{ range $paginator.Pages }}
    <div class="post {{ with .Site.Params.doNotLoadAnimations }}.{{ else }}animated fadeInDown{{ end }}">
      {{ if .Params.image }}
        <div class="post__thumbnail-wrapper">
          <a href="{{ .RelPermalink }}">
            <img class="post__thumbnail" src="{{ .Params.image | relURL }}" alt="Thumbnail image" loading="lazy" />
          </a>
        </div>
      {{ end }}
      <div class="post__content">
        {{ if (eq .Site.Params.disableTitleCapitalization true) }}
          <h3><a href="{{ .RelPermalink }}">{{ .Title }}</a></h3>
        {{ else }}
          <h3><a href="{{ .RelPermalink }}">{{ upper .Title }}</a></h3>
        {{ end }}
        {{ if .Description }}
          <p>{{ .Description }}</p>
        {{ else if .Summary }}
          <p>{{ .Summary }}</p>
        {{ end }}
        {{ if .Truncated }}
          <a href="{{ .RelPermalink }}">{{ i18n "read_more" }}</a>
        {{ end }}
      </div>
      <div class="post__footer">
        {{/* commented out date display
        <em class="fas fa-calendar-day"></em>
        <span class="post__footer-date">
          {{ .Date.Format "02/01/2006" }}
        </span>
        */}}
        {{ with .Page.Params.Categories }}
          {{ partial "taxonomy/categories.html" . }}
        {{ end }}
        {{ with .Page.Params.Tags }}
          {{ partial "taxonomy/tags.html" . }}
        {{ end }}
      </div>
    </div>
  {{ end }}
  <div class="pagination">
    {{ partial "pagination.html" . }}
  </div>
{{ end }}
